/* PostList.css */

body {
  background-color: #f8f9fa;
  font-family: 'Arial', sans-serif;
}

.post-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
  max-width: 800px;
  margin: 0 auto;
}

.post {
  margin-bottom: 40px;
}

.post h1 {
  font-size: 28px;
  margin-bottom: 10px;
  text-align: center;
  color: #333;
}

.post h3 {
  font-style: italic;
  margin-bottom: 10px;
  text-align: center;
  color: #555;
}

.post h4 {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #777;
}

.post .link {
  margin-bottom: 20px;
  text-align: center;
}

.post .link a {
  color: #007bff;
  text-decoration: none;
}

.post .content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.post .image {
  margin-right: 30px;
  border-radius: 10px;
}

.post .image img {
  max-width: 100%;
  border-radius: 10px;
}

.post .text {
  flex: 1;
}

.post .meta {
  font-size: 14px;
  color: #888;
  text-align: center;
}

.post hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}
