.user-posts {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.creator-image {
  display: block;
  max-width: 200px;
  margin: 0 auto 20px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

ul {
  list-style: none;
  padding: 0;
}

.post-item {
  margin-bottom: 40px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.post-item:hover {
  transform: translateY(-5px);
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.text {
  margin-bottom: 15px;
  font-size: 16px;
  color: #555;
  
}

.text button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.text button:hover {
  background-color: #0056b3;
}

.post-media {
  display: block;
  max-width: 100%;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post-time {
  font-style: italic;
  color: #777;
  font-size: 14px;
  justify-content: flex-start;
  margin: 10px;
  padding: 5px;
}

.author {
  font-style: italic;
  color: #777;
  font-size: 14px;
  display: flex;
  justify-content: flex-end;
  margin: 5px;
}
.meta {
 
  max-width: 100%;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}